BODY {
  margin: 0;
}

.menu {
  width: 280px;

  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
}

.body {
  margin-left: 280px;
  padding:2em;
  padding-top: 0.2em;
}

.Testbutton {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
